.project-card-errors {
  .btn-card-header {
    &.collapsed {
      .card-collapse-icon {
        display: none;
      }

      .card-expand-icon {
        display: block;
      }
    }
  }
}

// Overrides for the generalized `shared/projects/search_form` used in Geo
.replicable-search {
  #project-filter-form-field {
    width: 100%;
    padding-left: 1.75rem;
  }
}

// Overrides max-width from `app/assets/stylesheets/framework/dropdowns.scss`
.geo-node-form-container {
  #node-synchronization-shards-field {
    .dropdown-menu {
      width: auto;
    }
  }
}

.geo-node-header-grid-columns {
  grid-template-columns: 1fr auto;
  grid-gap: $gl-spacing-scale-5;

  @include media-breakpoint-up(md) {
    grid-template-columns: 3fr 1fr;
  }
}

.geo-node-details-grid-columns {
  grid-gap: $gl-spacing-scale-5;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 3fr;
  }
}

.geo-node-core-details-grid-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: $gl-spacing-scale-5;
}

.geo-node-replication-details-grid-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 2fr 2fr;
  }
}

.geo-node-filter-grid-columns {
  grid-template-columns: 1fr;

  @include media-breakpoint-up(md) {
    grid-template-columns: 3fr 1fr;
  }
}

.geo-replicable-item-grid {
  grid-template-columns: 8ch 1fr auto;
  grid-gap: 1rem;
}

.geo-replicable-filter-grid {
  grid-template-columns: 1fr;

  @include media-breakpoint-up(md) {
    grid-template-columns: 2fr 1fr;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr;
  }
}

.geo-node-replication-counts-grid {
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1rem;
}
